{% extends "base.html" %}
{% block start %}

<div class="container">
    <form class="col-6 mx-auto card p-3 mt-2 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Update  Recepie</h2>
        <hr>
        
        <div class="mb-3 mt-5">
            <label for="recepie_name" class="form-label">Recepie Name</label>
            <input type="text" name="recepie_name" value="{{recepie.recepie_name}}" id="recepie_name" required class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="recepie_description" class="form-label">Recepie Description</label>
            <textarea name="recepie_description" id="recepie_description" required class="form-control">{{recepie.recepie_description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="recepie_image" class="form-label">Recepie Image</label>
            <input type="file" name="recepie_image" id="recepie_image" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-success">Update Recepie</button>
    </form>
</div>

{% endblock %}
